@{
    ViewData["Title"] = "Hakkımızda";
}


<h2>Bot Hakkında</h2>
<p>İşte kafama göre yazıyorum botu aşağıda komutlar var keke</p>

<ul>
    <li><span class="command-span">{prefix}pp</span> Resminizi Büyütür go br</li>
    <li><span class="command-span">{prefix}anime</span> anime resmi verir go br</li>
    <li><span class="command-span">{prefix}zar</span> zar atar go br</li>
    <li><span class="command-span">{prefix}muzik</span> müzik komutları go br</li>
    <li><span class="command-span">{prefix}wikipedia</span> makale falan çekiyo go br</li>

</ul>


